*{margin: 0; padding: 0; font-style: normal; box-sizing: border-box;}
input,button{outline: none; border-radius: 4px; border: 1px solid #dcdfe6;}
button{cursor: pointer;}
ul,ol{list-style: none;}
.left{float: left;}
.right{float: right;}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix{display: inline-block;} /* for IE/Mac */
.layoutDiv{width: 1200px; margin: 0 auto; display: block; padding: 20px;}
.red{color: #f56c6c; text-align: left; margin-left: 74px; display: none;}
.form{text-align: center; padding-top: 20px;}
.form input{width: 260px; height: 38px; line-height: 38px; border: 1px solid #dcdfe6; padding-left: 6px;}
.form button{display: inline-block; padding: 8px 20px; font-size: 14px; white-space: nowrap; background: #409eff; color: #fff; margin-top: 20px;}
.tips{text-align: left; font-size: 12px; margin-top: 20px; color: #666;}
.loginOut{ padding: 8px 20px; font-size: 14px; white-space: nowrap; float: right; margin-top: 20px; background: #fff; border: 1px solid #409eff;}
.loginOut:hover{background: #409eff; color: #fff;}

.comment{width: 80%; margin: 0 auto;}
.tableList{border: 1px solid #ebeef5; width: 100%;}
#menu{margin-top: -1px;}
.tableList>li{width: 100%; overflow: hidden; border-bottom: 1px solid #ebeef5; margin: -1px 0;}
.tableList>li i{float: left; margin-right: 2px; font-weight: 400; color: #2196f3; cursor: pointer; font-size: 22px;}
.tableList>li>span{display: block; width: 32%; padding: 0 10px; border-right: 1px solid #ebeef5; float: left; height: 48px; line-height: 48px;}
.tableList>li>span:last-child{border-right: none;}

/*重新定义表格样式*/
.datagrid-header-row{height: 48px; line-height: 48px;}
.icon_edit{width: 16px; height: 16px; display: inline-block; background: url(../jquery-easyui/themes/icons/pencil.png); cursor: pointer;}

.editForm{padding: 10px 0;}
.editForm input{width: 230px; height: 40px; line-height: 40px; padding-left: 6px;}
.editForm button,.execute{width: 38px; height: 38px; background: #fff; margin-left: 4px; vertical-align: middle;}
.editForm .keep{background: #409eff; color: #fff;}
.editForm select{width: 230px; height: 40px; line-height: 40px;}
.uploadDiv{position: relative; float: left;}
.uploadDiv button,.execute{width: 80px;}
.uploadDiv input{width: 80px; height: 40px; position: absolute; left: 0;  opacity: 0; filter: alpha(opacity=0); cursor: pointer;}